*.ipynb_checkpoints
*.egg-info
*__pycache__*

data/*
!data/interesting_audio_samples

Module_2/Lecture_1/logdirs
Module_2/Lecture_3/AMI-diarization-setup


.DS_Store
Module_1/.DS_Store
Module_1/Lecture_2/.DS_Store
Module_1/archive/